/*
author: hongwenqing
date: 2018-11-13
*/ 


$color-success: #67C23A;
$color-danger: #F56C6C;
$color-primary: #409EFF;
$color-warning: #E6A23C;
$color-info: #909399;


.fl {
  float: left;
}
.fr {
  float: right;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.text-right{
  text-align: right;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.block-center{
  margin: 0 auto;
}

.boxsizing-border{
  box-sizing: border-box;
}

//弹性布局
.flex{
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;  //单行放不下时换行
  align-items: flex-start;  //交叉轴从轴开始的位置开始排列
}

//主轴对齐方式-居中对齐
.justify-c{
  justify-content: center;
}

.justify-start{
  justify-content: flex-start;
}


// margin-* padding-* 的快捷类使用  0---50px
$total: 50;
@while $total >= 0 {
  // margin
  .mt-#{$total}{
    margin-top: #{$total}px;
  }

  .mr-#{$total}{
    margin-right: #{$total}px;
  } 

  .mb-#{$total}{
    margin-bottom: #{$total}px;
  } 

  .ml-#{$total}{
    margin-left: #{$total}px !important;
  }
  
  .m-#{$total}{
    margin: #{$total}px; 
  }

  // padding 
  .pt-#{$total}{
    padding-top: #{$total}px;
  }

  .pr-#{$total}{
    padding-right: #{$total}px;
  }

  .pb-#{$total}{
    padding-bottom: #{$total}px;
  }

  .pl-#{$total}{
    padding-left: #{$total}px;
  }

  .p-#{$total}{
    padding: #{$total}px;
  }

  $total: $total - 1;
}

// 字体颜色
.fc-primary {
  color: $color-primary;
}

.fc-danger {
  color: $color-danger;
}

.fc-success {
  color: $color-success;
}

.fc-warning {
  color: $color-warning;
}

.fc-info {
  color: $color-info;
}


//字体大小
$total-font: 24;
@while $total-font >= 8{
  .f-#{$total-font}{
    font-size: #{$total-font}px !important;
  }

  $total-font:  $total-font - 2;
}








  





