// 样式常量集

// NavBar
$menuText:#409EFF;                 // 菜单字体颜色
$menuBorderBottomActive: 3px solid #409EFF;  // 激活码状态的 菜单项 border-bottom 样式
$menuTextActive: #409EFF;                    // 激活码状态的 菜单项 字体 颜色
$menuBg:#fff;                      // 菜单导航背景色
$navbarHeight: 70px;                 // 菜单导航的高度

// TopBar
$topbarBg: #409EFF;                // topbar 背景色
$topbarFontColor: #DCDFE6;         // topbar 字体颜色

// FooterBar
$footerbarBg: #4e5a63;             // footerbar 背景色
$footerbarFontColor: #F2F6FC;      // footerbar 字体颜色

$fcMain: #5e5e5e;
$fcGrey: #606266;
$fcGreyL: #909399;
$borderO: #DCDFE6;
$borderT: #E4E7ED;
$borderTh: #EBEEF5;
$borderF: #F2F6FC;


// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuBg: $menuBg;
  navbarHeight: $navbarHeight;
  menuBorderBottomActive: $menuBorderBottomActive;
  menuTextActive: $menuTextActive;
  topbarBg: $topbarBg;
  topbarFontColor: $topbarFontColor;
  footerbarBg: $footerbarBg;
  footerbarFontColor: $footerbarFontColor;
}