//Navbar
$menuText:#fff;                  // 菜单字体颜色
$menuActiveText:#fffc00;         // 激活状态菜单字体颜色
$menuBg:#14B1BB;                 // 菜单导航背景色
$navbarHeight: 50px;               // 菜单导航的高度


$menuHover:#263445;
$subMenuActiveText:#f4f4f5;      // https://github.com/ElemeFE/element/issues/12951
$subMenuBg:#1f2d3d;
$subMenuHover:#001528;


// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  navbarHeight: $navbarHeight;
}
